body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0px;
}

/* Container do topo com tudo na mesma linha */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1f22;
  padding: 20px 20px;
}

/* Agrupa logo + texto */
.logo-barra {
  display: flex;
  align-items: center;
}

/* Estilo do logo */
.logotipo {
  height: 50px;
  margin-right: 10px;
}

/* Títulos */
.titulo {
  margin: 0;
  color: #00aaff;
  font-size: 30px;
}

.subtitulo {
  margin: 0;
  color: white;
  font-size: 20px;
}

/* Menu em linha */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Itens do menu com separador | */
.menu li {
  margin-left: 15px;
  position: relative;
}

.menu li + li::before {
  content: "|";
  color: white;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}




